* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
/*.column {
  float: left;
  width: 18%;
  padding: 0 10px;
  padding-top: .5em;
  padding-bottom: .5em;
}*/

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin-top:10px;
  margin-left:130px;
  
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #f1f1f1;

}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.container{
  margin-left:50px;
  max-width:1000px;
  
}
/*.container {
  display: flex;
  justify-content: center;
}*/

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.side {
  margin-top:-100px;
  
  float:left;
  width:100px;
}
.in {
  
  float:left;
  width:70px;
}

.button{
  margin-right:16px;
  margin-left:50px;
  padding-right:5px;
  border:none;
  border-radius: 5px;
  cursor:pointer;
  text-decoration: none;
  background-color: #f0c14b;
}

.bottom{
  
  margin-top:80px;
  text-align: center;
  font-size: 25px;
}
.hover{
  cursor: pointer;
  color:blue
}

/*.search{
  width:1000px;
  height:50px;
}*/
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.search-form {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}
/*.search-form .search-input-container {
  position: relative;
}*/


.search-form input[type="text"] {
  width: 230px;
  padding: 4px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
}
/*.search-input {
  width: 230px;
  padding: 4px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
}*/
.search-form input[type="text"]:hover {
  border-color: blue; /* Change border color to blue on hover */
}
.clear-button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
  padding: 4px;
  font-size: 12px;
  background: transparent;
  border: none;
  color: blue;
  cursor: pointer;
}

.search-button {
  padding: 8px 9px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  color: blue;
  cursor: pointer;
}
/*.search-form .search-button {
  padding: 8px 9px;
  font-size: 12px;
  
  border: none;
  border-radius: 5px;
  color: blue;
  cursor: pointer;
  margin-right:3px
}*/

.link-button-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.link-button {
  padding: 10px 10px;
  font-size: 13px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin-left: 100px;
  margin-right:40px;
}



.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align cards at the center */
  margin: 0 -10px;

}

.column {
  flex:0 0 calc(35.33% - 19px);
  margin:10px;
  display: flex;
  justify-content: center;

}


.card {
  width:100%;
  max-width: 250px;
  height: 218px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.card-body {
  padding: 9px;
}
.card-body > * {
  margin-bottom: 5px;
}

.card-body h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-body h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-body p {
  margin-bottom: 5px;
}

.card-body button {
  padding: 8px 8px;
  font-size: 12px;
  background-color: #f0c14b;
  border: none;
  border-radius: 4px;
  color: #111;
  cursor: pointer;
}

.card-body button:hover {
  background-color: #d89e14;
}

.side {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 4px;
  width: 200px;
  margin-left: 20px;
}

.side h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.side h4 {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.side .in {
  margin-bottom: 10px;
}

.side .hover {
  cursor: pointer;
  color: #0066c0;
  text-decoration: underline;
}

.side .hover:hover {
  color: #FF9900;
}


/*cart page*/




.payment {
  position: fixed;
  top: 150px;
  left: 20px;
  width: 250px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paybutton{
  padding: 8px 8px;
  font-size: 12px;
  background-color: #f0c14b;
  border: none;
  border-radius: 4px;
  color: #111;
  cursor: pointer;
  padding: 4px 8px;

}
.paybutton:hover {
  background-color: #d89e14;
}


.bottom h5 {
  margin-bottom: 50px;
}

.contain {
  max-width:900px;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

}
.contain .column {
  flex: 1 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  min-width: 250px; /* Set a minimum width */
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.bottom h5 {
  margin-top: 4px; /* Adjusted margin to reduce space */
  margin-bottom: 4px; /* Adjusted margin to reduce space */
}
/*login*/
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top:80px;

}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-weight: bold;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form input[type="submit"] {
  padding: 10px;
  background-color: #f0c14b;
  border: none;
  border-radius: 5px;
  color: #111;
  cursor: pointer;
}

.login-form p {
  text-align: center;
  margin-bottom: 10px;
}

.login-form a {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.login-form .button {
  padding: 10px;
  background-color: #f0c14b;
  border: none;
  border-radius: 5px;
  color: #111;
  cursor: pointer;
  margin-top: 20px;
}

/*register*/
.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.register-form label {
  font-weight: bold;
  margin-bottom: 10px;
}

.register-form input[type="text"],
.register-form input[type="password"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-button {
  padding: 10px;
  background-color: #f0c14b;
  border: none;
  border-radius: 5px;
  color: #111;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  min-height:100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 13px;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*search nav bar*/
/* Global styles */
.dropdown-content .new-user-link {
  margin-top: 10px;
  color: #232f3e;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation bar styles */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #232f3e;
  color: #ffffff;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a {
  color: #ffffff;
  text-decoration: none;
}

.search-form {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-input {
  padding: 8px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #febd69;
  color: #232f3e;
  border: none;
  border-radius: 3px;
  padding: 6px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.cart-icon-container {
  margin-left: 20px;
  position: relative;
  left:-65px;

}

.cart-icon-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.cart-icon {
  font-size: 1.3rem;
  margin-left: 20px;
}
.cart-text {
  position: absolute;
  top: 1px;
  left: 50px; /* Adjust the value as needed */
  font-size: 15px;
  color: #ffffff;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .search-form {
    margin-top: 10px;
    margin-right: 0;
  }

  .dropdown {
    margin-top: 10px;
  }
}

/*otp*/
/*.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:30px;
}*/

.card {
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

h1 {
  text-align: center;
}

.input-label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.btn-generate,
.btn-verify {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-generate:hover,
.btn-verify:hover {
  background-color: #0056b3;
}

.otp-label {
  font-size: 18px;
  margin-top: 20px;
}

.otp-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.otp-input {
  width: calc(25% - 10px);
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.verification-response {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.ok {
  display: flex;
  justify-content: center;
}

.row-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*.side-left {
  width: 200px;
  padding: 20px; 
  background-color: #f5f5f5;
  
}*/
.side-left {
  position: fixed;
  top: 90px;
  left: 0;
  background-color: #f5f5f5;
  margin-top:20px;
}

.update-form label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.update-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.update-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*cross icon*/



.check-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  margin-bottom: 10px;
}

.check-label input[type="checkbox"] {
  margin-right: 6px;
}



.hover:hover {
  color: #c45500;
  cursor: pointer;
}

.filter-range {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.filter-range-content {
  display: flex;
  align-items: center;
}

.cross-button {
  font-size: 14px;
  color: #999;
  cursor: pointer;
  margin-right: 6px;
}

.filter-range-text {
  font-size: 14px;
  color: #555;
}

.cross-button:hover {
  color: #c45500;
}

.filter-range:hover {
  border-color: #c45500;
  box-shadow: 0 0 5px rgba(196, 85, 0, 0.5);
}









































 























